*{
    margin: 0;
    padding: 0;
    
}

:root{
    --navbar-height: 59px;

}
#navbar{
    display: flex;
    align-items: center;
    position: relative;

}

#navbar ul{
    display: flex;


}
#navbar ul li{
 list-style-type: none;
 font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
 
}
#navbar ul li a:hover{
   
    color:black;
    background-color: white;
 
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity:0.10;


}
body{
    background: url(/bac\ c.jpg)no-repeat center center fixed;
    position:absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
.container{ 
    color: white;
    position: absolute;
    top: 25%;
    left: 40%; 
}
.container h1{
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid rgb(26, 24, 26);
    margin-bottom: 15px;
    padding: 13px 0;
}
.box{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid rgb(24, 22, 24);
}

.btn{
    color: rgb(77, 29, 211);
    cursor: pointer;
    outline: none; 
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid rgb(24, 23, 24);
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    
}.box input{  
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    color: #131212;
}