*{
    margin: 0;
    padding: 0;
    
}
:root{
    --navbar-height: 59px;

}
#navbar{
    display: flex;
    align-items: center;
    position: relative;

}

#navbar ul{
    display: flex;


}
#navbar ul li{
 list-style-type: none;
 font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
 
}
#navbar ul li a:hover{
   
    color:black;
    background-color: white;
 
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity:0.10;


}
body{
    background: url(/bg\ ground.jpg) no-repeat center/cover;
    position:absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#fa{ 
    margin-top: 450px;
    
   
   
   
}
#font{
    margin-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 2cm;
   
}
#f2{
    margin-left: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 2cm;
}